/* ------------ VARIABLES ------------- */
:root {
    --clr-yt-red: #f00;
    --clr-yt-red-darker: #c00;
}

/* -------- GENERAL OVERRIDES --------- */
h2 {
    font-size: 2.5rem;
}

.video-section {
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}

/* --------- SPECIFIC CLASSES --------- */
.video-title {
    font-size: 2rem;
    color: var(--clr-light);
    margin: 0;
    padding: 3rem 1rem 0;
}

.darker-bg {
    background-color: var(--clr-dark-translucent);
}

.buttons-div {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;

    @media (min-width: 40rem) {
        margin: auto 2rem;
    }
}

.text-div {
    flex-basis: 60%;
    color: var(--clr-light);
    margin: 2rem 3rem;
}

/* --------- PLAYLIST SECTION --------- */
.playlist-section {
    min-height: 15rem;

    div:first-of-type {
        margin: 1rem 1rem 0;

        @media (min-width: 40rem) {
            margin: auto 1rem auto 2rem;
        }
    }

    div:last-of-type {
        margin: 2rem 1rem 4rem;

        @media (min-width: 40rem) {
            margin: auto 2rem auto 1rem;
        }
    }

    .btn {
        --focus-color: var(--clr-yt-red);
        --behind-color: var(--clr-bg);
    }
}

/* ---------- YOUTUBE BUTTON ---------- */
.btn {
    --focus-color: var(--clr-light);

    &-yt {
        background-color: var(--clr-yt-red);

        &:hover {
            background-color: var(--clr-yt-red-darker);

            &::after {
                padding-left: .5rem;
            }
        }

        &::after {
            content: '\f167';
            font-family: 'Font Awesome 5 Brands', sans-serif;
            font-weight: 400;
            padding-left: .75rem;
            font-size: 1.25rem;
            vertical-align: middle;
            transition: padding-left .3s;
        }
    }
}
